/.idea/.name
/.idea/apiKeyServer.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/remote-targets.xml
/.idea/vcs.xml
/.idea/workspace.xml
/configs/config.yaml
/configs/config.yaml.old
/.idea/dictionaries/dryack.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/
/.idea/dictionaries/
/.idea/
!/notes
/Notes
